<h2 class="clickable-title" (click)="toggleDialog()">Search <i class="fa fa-search" aria-hidden="true"></i>
    <span class="navigation" *ngIf="showDialog"><i class="fa fa-compress" aria-hidden="true"></i></span>
    <span class="navigation" *ngIf="!showDialog"><i class="fa fa-expand" aria-hidden="true"></i></span>
</h2>

<div *ngIf="showDialog" class="phone-book_search-container phone-book_section">
    <div class="phone-book_search-by">
        <label>By name:</label>
        <input
            class="form-control"
            type="text" 
            [(ngModel)]="searchPhrase" 
            (ngModelChange)="getResults()"
            placeholder="Enter part of name">
    </div>
    <div class="phone-book_search-by">
        <label>By phone number:</label>
        <input
            class="form-control"
            type="text" 
            [(ngModel)]="searchNumber" 
            (ngModelChange)="getResults()"
            placeholder="Enter part of phone number">
    </div>
</div>
