<h2>Search <i class="fa fa-search" aria-hidden="true"></i></h2>

<div class="phone-book_search-container phone-book_section">
    <div class="phone-book_search-by">
        <label>By name:</label>
        <input
            class="form-control"
            type="text" 
            [(ngModel)]="searchPhrase" 
            (ngModelChange)="getResults()"
            placeholder="Enter part of name">
    </div>
    <div class="phone-book_search-by">
        <label>By phone number:</label>
        <input
            class="form-control"
            type="text" 
            [(ngModel)]="searchNumber" 
            (ngModelChange)="getResults()"
            placeholder="Enter part of phone number">
    </div>
</div>
