<h2>Contacts</h2>

<div class="phone-book_contact-list phone-book_section">
    <ul *ngIf="visibleContacts.length > 0">
        <li class="header">
            <div>Name</div>
            <div class="phone-book_contact-list_phone-number-label">Phone number</div>
        </li>
        <li *ngFor="let contact of visibleContacts;">
            <contact [model]="contact"></contact>
        </li>
    </ul>
    <div *ngIf="visibleContacts.length === 0" class="info-label">None of your contacts matched your search criteria</div>
</div>
