<div class="phone-book_add-contact-container">
    <h2>Add a contact</h2>
    <form #addContactForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="phone-book_add-contact_form flex-row">
            <div class="phone-book_add-contact_fields flex-cell">
                <div class="flex-row">
                    <div class="flex-cell">
                        <label>Name:</label>
                    </div>
                    <div class="flex-cell">
                        <input
                            class="form-control"
                            id="nameField"
                            name="nameField"
                            type="text" 
                            [(ngModel)]="name" 
                            minlength="3"
                            maxlength="100"
                            #nameField="ngModel">
                        <div *ngIf="nameField.errors && (nameField.dirty || nameField.touched)" class="alert">
                            <div [hidden]="!nameField.errors.minlength">Name must be more than 3 characters!</div>
                            <div [hidden]="!nameField.errors.minlength">Name must be under 100 characters!</div>
                        </div>
                    </div>
                </div>
                
                <div class="flex-row">
                    <div class="flex-cell">
                        <label>Phone number:</label>
                    </div>
                    <div class="flex-cell">
                        <input
                            class="form-control"
                            id="phoneField"
                            name="phoneField"
                            type="text" 
                            [(ngModel)]="phoneNumber" 
                            minlength="6"
                            maxlength="20"
                            #phoneField="ngModel">

                        <div *ngIf="phoneField.errors && (phoneField.dirty || phoneField.touched)" class="alert">
                            <div [hidden]="!phoneField.errors.minlength">Phone number must be more than 6 characters!</div>
                            <div [hidden]="!phoneField.errors.minlength">Phone number must be under 20 characters!</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="phone-book_add-contact_submit flex-cell">
                <button class="submit" type="submit">+</button>
            </div>
        </div>
    </form>
</div>
