@import url(http://fonts.googleapis.com/css?family=Kalam);

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Main level */
.phone-book_main-container {
    min-height: 100vh;
    background: linear-gradient(45deg, #ececec, #eee);
    display: flex;
}

.phone-book_app-container {
    order: 2;
    flex: 1;
    max-width: 800px;
    min-width: 200px;
    background-color: #ddd;
}

.phone-book_app-container > h1, h2 {
  /* Usually I use SASS to capture variable for this */
  padding: 5px 20px;
}

.phone-book_left {
    order: 1;
    flex: 1;
}

.phone-book_right {
    order: 3;
    flex: 1;
}

/* Middle container */
.phone-book_app-container {
    min-width: 320px;
    min-height: 100%;
    box-shadow: 0px 0px 200px -8px rgba(0,0,0,0.1)
}

h1, h2, button {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

h1 {
  width: 100%;
  background-color: #893ea3;
  font-size: 2em;
}

h2 {
  font-size: 1.5rem;
}

.phone-book_app-container .title {
  color: #893ea3;
}

/* Main container */
@media (min-width: 500px) {
  .phone-book_contacts-container add-contact {
    order: 2;
  }
}

.phone-book_app-container label {
    margin: 0.8rem 0 0 0;
    font-size: 1.2rem;
}

/* Ribbons and paddings */
contacts h2 {
  padding: 5px 20px; 
  margin: 0.8rem 0 0 0;
  background: linear-gradient(90deg, rgba(70, 50, 120, 0.4), rgba(60, 40, 110, 0.3));
}

.phone-book_section {
  padding: 0 20px;
}

/* contacts list */
.phone-book_contact-list ul {
  padding-left: 0;
  list-style: none;
}

.phone-book_contact-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  font-size: 1.2em;
}

.phone-book_contact-list .header {
  font-weight: bold;
}

/* contact */
contact {
  width: 100%;
}

.phone-book_contact-container {
  display: flex;
  justify-content: space-between;
}

/* add contact */
.phone-book_add-contact_submit button {
  width: 100%;
  margin: 0.8rem 0 0 0;
  padding: 0.5rem 0;
  
  background-color: #928cb8;
  border-color: #928cb8;

  font-weight: bold;
  font-family: 'Roboto';
}

.phone-book_add-contact_submit button:hover {
  background-color: #893ea3;
  border-color: #893ea3;
}

/* Cross cut elements */
.info-label {
    color: #577ea5;
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: center; 
}
